/* style.css */

/* Add your custom styles here */
.custom-form {
    max-width: 400px;
    margin: 0 auto;
}

.wrap h1{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 4px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Add more styles as needed */
